/* Start Navbar */
.navbar {
    background-color: rgb(0 0 0 / .7);
}
/* End Navbar */

/* Start Header */
.header {
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header-overlay {
    background-color: rgb(0 0 0 / .5);
}
.header-overlay h1 {
    font-size: 50px;
}
/* End Header */

/* Start Footer */
.footer {
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer-overlay {
    background-color: rgb(0 0 0 / .5);
    padding: 100px 0;
}

.footer-icons span {
    width: 35px;
    height: 35px;
    background-color: #FFB727;
}
/* End Footer */

