

/* Start Navbar */
.navbar {
    background-color: rgb(0 0 0 / .7);
    z-index: 999999;
}
/* End Navbar */

/* Start Header */
.header {
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header-overlay {
    background-color: rgb(0 0 0 / .5);
}
.header-overlay h1 {
    font-size: 50px;
}
/* End Header */


/*Start About Me*/
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}
.section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: #3b434a;
    position: relative;
    z-index:2;
    font-family: "Raleway", sans-serif;
}
.section-title p {
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}
.about-icon .fas{
    
    font-size: 13px;
    margin-right: 5px;
    color: #855d0e;
    line-height: 0;
}
.about-icon .far{
    display: block;
    font-size: 36px;
    margin-top: 20px;
    float: left;
    line-height: 0;
}
.imogy{
    color: #198754;
    display: block;
    font-size: 36px;
    margin-top: 20px;
    float: left;
    line-height: 0;
}
.cl{
    color:  #0dcaf0;
    display: block;
    font-size: 36px;
    margin-top: 20px;
    float: left;
    line-height: 0;
}
.aw{
    color: #ffb727;
    display: block;
    font-size: 36px;
    margin-top: 20px;
    float: left;
    line-height: 0;
}
.about-progras ul{
    list-style: none;
}
.item h2{
    font-size: 36px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    color: #3b434a;
    margin-left: 50px;
}
.item p{
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #5d6a75;
}
.item p span{
    font-weight: bolder;
}
.tape
{
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #3b434a;
}

.progress-title p
{
    width: 27%;
    float: left;
    font-weight: 600; 
    margin: 0;
    padding: 0;

}
.progress
{
    height: .8rem;
}
.progress-title .progress-value
{
    
    float: left;
    text-align: right;
    font-weight: 500;
}

/*End About Me*/



/* Start Section Services */

/* start div section title */

.section-title span {
    color: #eef0f2;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    color: #3b434a;
    position: relative;
    bottom: 40px;
    left: 0%;
    z-index: 2;}
    /* end div section title */

.services .icon-box {
        padding: 30px;
        background: #fff;
        box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
        text-align: center;
        border: 1px solid #fff;
}
.icon-box
{
    padding: 10px ;
}
.icon-box p
{
margin-top: 15px;
}
.icon-box a
{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: bolder;
    transition: color 0.3s;
}
.icon-box:hover a
{
    color:  #ffb727;

}

.icon-box:hover
{
    border: solid 1px #ffb727;
}



.icon
{

    font-size: 30px;
    color: #ffb727;

}
.icon i
{
    width: 70px;
    height: 70px;
    background-color: #fff4df;
    padding-top:20px;
    border-radius: 50%;
    font-size: 30px;

}


/* End Section Services */

/* start section portfolio */

.about-content h2
{
    font-size:50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3b434a23;
    font-family: "Raleway", sans-serif;
}
.about-content h3
{
    color: #3b434a;
    font-size: 32px;
    font-weight: 700;
}
.prag
{
    color: #3b434ae8;

}

.star 
{
    border: solid 2px #f3a200;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f3a200;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
}

.portfolio-icon
{
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
}
.star1:hover
{
    color: #f3a200;
    border-color: #f3a200;

    transition: all 0.2s 0.1s;
}
.star1
{
    padding: 5px 0;
    border: 2px solid transparent;
}
.star-two:hover
{
    color: #f3a200;
    border: solid 2px #f3a200;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s 0.1s;
}
.star-three:hover
{
    color: #f3a200;
    border: solid 2px #f3a200;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.2s 0.1s;
}


.sercle
{
    position: relative;
}
.sercle::after
{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px black;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}

/* end section portfolio */ 

/*  Start contact */
.contact-title
{
    
    padding-right: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.contact-title h3
{
    position: relative;
    padding-top: 30px;
    font-size: 36px;
    font-weight: 700;
}

.contact-title  p 
{
    font-size: 18px;
    color: #282828;
    padding-top: 7px;
}

.contact-title h3::after
{
    content: "CONTACT ME";
    position: absolute;
    top: 0;
    left: 25%;
    opacity: .2;
    font-size: 55px;  
}
.info-box
{
    text-align: center;
    padding: 20px 0 30px 0;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    margin-bottom: 20px ;
    color: #444444;
}
.info-box h3{padding-top: 10px;}
.info-box i.fas , i.far
{
    font-size: 24px;
    color: #ffb727;
    border-radius: 50%;
    padding: 15px;
    background: #fff6e4;
    
}
<<<<<<< HEAD
.box-head button:hover{
    background-color: tomato;
}
=======
.icon-social
{
    margin-top: 20px;
}
.icon-social a
{
    font-size: 18px;
    color: #687683;
    line-height: 2;
    margin: 0 8px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #dde1e4;
}
.icon-social a:hover 
{
    background-color: #ffc107;
    color: white;
}
.contact-data
{
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 27px;
}
.contact-data input,textarea
{
    width: 100%;
    padding: 10px 15px;
}
.contact-form
{
    margin-top: 15px;
}
.contact-data button
{
    background: #ffb727;
    border: 0;
    padding: 12px 24px;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;

}
.contact-data button:hover
{
     background-color: #f0cf8e;
   
}
/*End Contact*/

/* Start Footer */
.footer {
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer-overlay {
    background-color: rgb(0 0 0 / .5);
    padding: 100px 0;
}

.footer-icons span {
    width: 35px;
    height: 35px;
    background-color: #FFB727;
}
/* End Footer */





>>>>>>> ae25422b76890469be85d671d09516020958ec51

.frth-sec
.fifth-sec-info h2
{
   color:#1e1e1e;
   font-weight: bolder;
   font-size: 40;
}
.blue-line
{
   background-color: #0078ff ;
   width: 50px;
   height: 5px;
   position: relative;
   left: 48%; 
}
.pic
{
   box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
   overflow: hidden;
}
.pic:hover img
{
   transform: scale(1.1,1.1);
   transition: all 0.7s;
   
}
.pic h5
{
   color: #1e1e1e;;
}
.plus1
{
  
   font-size: 40px;
   padding: 20px;
   border-width: 8px;
   color:#0078ff ;
  
}